@media only screen and (max-width: 968px){
    .sarkari_01 .container .row .sarkar_1 .sarkari_result{
       margin-left: 15px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sarkari_01 .container .row .sarkar_1 img{
        width: 50px;
        height: 50px;
    }
    .sarkari_01 .container .row .sarkar_1 .info_section{
        position: relative;
        bottom: -30px;
    float: right;
    }
    .sarkari_01 .container .row .sarkar_1 .update{
        color: white;
        font-size: 10px;
        
    }
    .sarkari_01 .container .row .sarkar_1 .update{
        color: white;
        font-size: 10px;
        position: relative;
        
    }
    .info_content{
        background-color: rgb(0, 0, 0);
    }
    .info_content .row .info_content_01 button{
        padding: 5px 10px;
        font-size: 15px;
       
        
    }
   
}
@media only screen and (max-width: 968px){
    .latest_01 .sarkari_latest{
        padding: 0px;
        font-size: 18px;
        padding-top: 10px;
    }

}
@media only screen and (max-width: 668px){
.results_01 .row .result_app ul li{
    list-style: none;
/* padding-left: 0px; */
}
.results_01 .row .result_app ul li a{
    font-size: 10px;
    font-weight: bold;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.marquee_01 ul li a{
    font-size: 12px;
    font-weight: bold;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.marquee_02 ul li a{
    font-size: 12px;
    font-weight: bold;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.marquee_03 ul li a{
    font-size: 12px;
    font-weight: bold;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tools{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    /* box-sizing: border-box; */
    padding: 10px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.tools_content .row .tools_content_01{
    /* border: 1px solid black; */
   width: 100%;
    
    }
    .tools_content .row .tools_content_01 .ibps{
        /* border: 1px solid black; */
        padding: 10px;
        background-color: rgb(140, 180, 6);
    }
    .tools_content .row .tools_content_01 .ibps a{
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .tools_content .row .tools_content_01 .ibps_01{
        /* border: 1px solid black; */
        padding: 10px;
        background-color: rgb(29, 19, 226);
        margin-left: 10px;
    }
    .tools_content .row .tools_content_01 .ibps_01 a{
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
.tools_content .row .tools_content_02{
    /* border: 1px solid black; */
   width: 100%;
    margin-top: 10px;
    }
    .tools_content .row .tools_content_02 .ibps{
        /* border: 1px solid black; */
        padding: 7px;
        /* background-color: rgb(140, 180, 6); */
    }
    .tools_content .row .tools_content_02 .ibps a{
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .tools_content .row .tools_content_02 .ibps_01{
        /* border: 1px solid black; */
        padding: 7px;
        /* background-color: rgb(29, 19, 226); */
        margin-left: 10px;
    }
    .tools_content .row .tools_content_02 .ibps_01 a{
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .tools_content_03 .row .tools_content_01{
        /* border: 1px solid black; */
       width: 100%;
        
        }
        .tools_content_03 .row .tools_content_01 .ibps{
            /* border: 1px solid black; */
            padding: 10px;
            /* background-color: rgb(140, 180, 6); */
        }
        .tools_content_03 .row .tools_content_01 .ibps a{
            font-size: 20px;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        .tools_content_03 .row .tools_content_01 .ibps_01{
            /* border: 1px solid black; */
            padding: 10px;
            /* background-color: rgb(29, 19, 226); */
            margin-left: 10px;
        }
        .tools_content_03 .row .tools_content_01 .ibps_01 a{
            font-size: 20px;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    .tools_content_03 .row .tools_content_02{
        /* border: 1px solid black; */
       width: 100%;
        margin-top: 10px;
        }
        .tools_content_03 .row .tools_content_02 .ibps{
            /* border: 1px solid black; */
            padding: 7px;
            /* background-color: rgb(140, 180, 6); */
        }
        .tools_content_03 .row .tools_content_02 .ibps a{
            font-size: 20px;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        .tools_content .row .tools_content_02 .ibps_01{
            /* border: 1px solid black; */
            padding: 7px;
            /* background-color: rgb(29, 19, 226); */
            margin-left: 10px;
        }
        .tools_content_03 .row .tools_content_02 .ibps_01 a{
            font-size: 20px;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        .result_content .row .result_content_02{
            margin-top: 30px;
        }
        .result_content .row .result_content_03{
            margin-top: 30px;
        }
}
@media only screen and (max-width: 968px){
   
}